.counters
  display: flex
  justify-content: center
  padding: 40px 0 75px 0

  &__item
    width: 24%
    padding: 0 90px 0 90px
    border-right: 1px solid #b0b0b0

    &:last-child
      border: none

  &__title
    margin: 20px 0 30px 0
    font: 700 $extra-small-font-size $primary-font-family
    color: $primary-text-color
    text-transform: uppercase
    letter-spacing: 1.47px

  &__number
    font: 700 45px $primary-font-family
    color: $primary-text-color