.services
  padding: 70px 0 85px 0
  background: url("../img/services-bg.png") no-repeat center/cover

  &__title
    background: url("../img/Line-small-light.png") no-repeat bottom
    color: $primary-color

  &__text
    margin: 40px 0 75px 0
    text-align: center
    color: #cfcfcf

  &__list
    display: flex
    justify-content: space-between

  &__item
    width: 23%
    padding: 40px 30px 40px 30px
    border: 1px solid $primary-services-text-color

    &-title
      margin-bottom: 30px
      padding: 0 40px
      font-size: $extra-small-font-size
      color: $primary-services-text-color
      line-height: 18px

    &-text
      text-align: center
      color: $primary-services-text-color

  &__legend
    padding: 0 30px
    font-size: 28px
    color: $primary-services-text-color