.slider
  width: 100%
  max-width: 970px
  height: auto
  margin: 0 auto
  text-align: center

  &__description
    font: 400 $extra-small-font-size $second-font-family
    color: $primary-color
    letter-spacing: 1.4px

  &__title
    background: url("../img/Line.png") no-repeat center
    margin: 25px 0 45px 0
    padding: 35px 0
    font: 400 $extra-big-font-size $third-font-family
    color: $primary-color
    text-transform: uppercase
    letter-spacing: 0.89px