 /*-----font-family------*/
$primary-font-family: 'Montserrat', sans-serif
$second-font-family: 'Crimson Text', serif
$third-font-family: 'Amsdam'

/*-----color-------*/
$primary-color: #fff

$primary-header-text-color: #aaaaaa
$second-header-text-color: #757575

$primary-services-text-color: #d8d8d8

$primary-blog-bg-color: #2d2d2f
$second-blog-bg-color: #555557

$primary-text-color: #3e3d3d
$second-text-color: #949494

$primary-bg-color: #e3e3e3

$form-color: #464646

/*-----font-size-------*/
$tiny-font-size: 12px
$extra-small-font-size: 14px
$small-font-size: 16px
$medium-font-size: 18px
$big-font-size: 20px
$extra-big-font-size: 36px